.about-us{
    display: flex;
    min-height: 720px;
    overflow: hidden;
}
.about-us__image{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white);
    position: relative;
}
.about-us__image div{
    padding: 32px 64px;
    flex: 1;
    display: flex;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.about-us__image-sushi3{
    border-bottom: 8px solid var(--color-creamson);
    background-image: url("../../assets/about_bg1.png");
}

.about-us__image-sushi2{
    background-image: url("../../assets/about_bg2.png");
}
.about-us__image-sushi3 img{
    width: 225px;
    height: 200px;
}
.about-us__image-sushi2 img{
    width: 240px;
    height: 160px;
}
.about-us__button{
    width: 50%;
    text-transform: capitalize;
    font-family: var(--plus-jakarta-sans);
    color: var(--color-white);
    background-color: var(--black-200);
    align-self:flex-end;
    height: 40px;
    border-radius: 32px 0 0 32px;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: auto;
    align-items: center;
    gap: 12px;
}
.about-us__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 64.5%;
    padding: 0 82px;
}






