footer{
    padding: 20px 36px;
    background-color: var(--color-white);
    color: var(--secondary-color);
    text-transform: uppercase;
}
.footer__logo{
    font-family: var(--playfair-display);
    font-size: 22px;
}
.footer__logo span{
    color: var(--primary-color);
}
.footer__menu{
    font-family: var(--plus-jakarta-sans);    
    font-size: 15px;
    gap: 30px;
}
.footer__social {
    gap: 18px;
}
.footer__social-image{
    background-color: var(--secondary-color);
    padding: 18px;
    align-items: center;
    border-radius: 50% ;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.footer__social-image img{    
    width: 18px;
    height: 18px;
}