
.header__nav{
    display: flex;
    overflow: hidden;
}
.header__logo{
    background-color: var(--primary-color);
    color: var(--color-white);
    font-family: var(--playfair-display);
    padding: 20px;
    display: flex;
    flex: 1;
    position: relative;
}
.header__logo-overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 1;
}
.about-a2{
    display: none;
}
.header__menu-mobile{
    display: none;
    padding: 30px;
}


.header__menu{
    gap: 56px;
    flex: 1.725;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    margin-left:48px ;
    padding-right:40px ;
}
.header__menu li{
    text-transform: uppercase;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
}
.header__logo h4{
    text-transform: uppercase;
    padding-left: 30px;
    color: var(--color-white);
    z-index: 2;
}


/*
--playfair-display: "Playfair Display", serif;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

  --primary-color: #b1454a;
  --secondary-color: #121212;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;
*/