.trending{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.trending__discover{
    position: absolute;
    text-transform: uppercase;
    font-family: var(--plus-jakarta-sans);
    font-size: 22px;
    font-weight: 500;
    width: 160px;
    height: 160px;
    color: var(--color-white);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
    align-self: center;
    top: 560px;
    cursor: pointer;
    
    z-index: 1;

}
.trending__image img{
    width: 50%;
}
.trending__image{
    flex: 1;
    background-color: var(--color-white);
    padding: 32px 64px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    height: 100%;
}
.trending__food .trending__image{
    background-image: url(../../assets/japanese_sushi.png);
}
.trending__drink .trending__image{
    background-image: url(../../assets/japanese_drinks.png);

}
.trending__food ,.trending__drink{
    width: 100%;
    height: 640px;
}
.trending__content-food,.trending__content-drink{
    flex: 1;
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.trending__content-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
}
.trending__content-list li {
    flex: 1;
    text-transform: capitalize;
    font-family: var(--plus-jakarta-sans);
    font-size: 16px;
    color: var(--secondary-color);

    gap: 12px;
    align-items: center;
    min-width: 210px;
    align-self: flex-start;
}
.trending__content-list li p{
    flex: 1;
    font-weight: 500;
}
.trending__list-image img {
    background-color: var(--primary-color);
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
}
/* Arrows */
.trending__arrow{
    position: absolute;
    z-index: 1;
}

.trending__arrow img{
    object-fit: contain;
}

.trending__arrow-left{
    left: -2.5px;
    top: 12%;
}
:is(.trending__arrow-left,.trending__arrow-top) img{
    width: auto;
    height: 100%;
}
.trending__arrow-top{
    top: -10.5px;
    left: 12%;
}
.trending__arrow-bottom{
    bottom: -6.5px;
    right: 12%;
}

:is(.trending__arrow-bottom,.trending__arrow-right) img{
    width: 100%;
    height: auto;
}

.trending__arrow-right{
    right: -2.5px;
    bottom: 12%;
}